.container{
    border: 1px solid red;

    max-width: 1440px;
    margin: 0 auto;
    padding: 36px 16px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.container-item-1{
    max-width: 576px;
    border: 1px solid green;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-item-2{
    border: 1px solid green;
}